<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>

    <div class="box">
        <% for (var i=0; i<NewItemAdd.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= NewItemAdd[i] %>
                </p>
                <div>
                    <form class="item" action="/delete_item" method="post">
                        <input type="hidden" name="list" value=<%=kindOfDay %> >
                        <input type="hidden" name="position" value=<%=i %> >
                        <button type="submit" name="delete">-</button>
                    </form>
                    <!--
                    method -> post
                    action -> /delete_item
                    body -> {position: i}
                    body -> {position: i, list: "Work"}
                    -->
                </div>

            </div>
            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="addItem" placeholder="New Item" autocomplete="off" required>
                    <input type="hidden" name="list" value=<%=kindOfDay %> >
                    <button type="submit" name="add">+</button>
                </form>
                <div>
                    <form class="item" action="/resetItems" method="get">
                        <button class="letter" type="submit" name="reset">Reset</button>
                    </form>
                </div> 
    </div>
    <div class="center">
        <a href=<%= ruth %> >back to <%= page %></a>
    </div>


    <%- include('footer'); -%>